[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
spacy = "*"
pandas = "*"
textacy = "*"
stanfordnlp = "*"
spacy-stanfordnlp = "*"
lxml = "*"
colorama = "*"
ansi2html = "*"
Flask = "*"

[requires]
python_version = "3.7"
